<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="600">
  <properties>
    <!--通用变量-->
    <property name="LOG_HOME" value="/data/logs/caixa_test"/>
    <property name="INFO_LOG_FILE_NAME" value="info"/>
    <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
    <Property name="LOG_LEVEL_PATTERN">%5p</Property>
    <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
    <Property name="CONSOLE_LOG_PATTERN">%clr{${LOG_LEVEL_PATTERN}}
      %clr{%d{${LOG_DATEFORMAT_PATTERN}}}{faint} %X{trace_id} %clr{}{magenta} %clr{%F:%L}{cyan}
      %clr{-}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}
    </Property>
    <property name="LOG_PATTERN"
      value="%d{yyyy-MM-dd HH:mm:ss.SSS} %X{trace_id} %F:%L %t-%tid - %m%n"/>
  </properties>
  <Appenders>
    <!--console-->
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
      <Filters>
        <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
      <!--输出日志的格式-->
      <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
    </Console>
    <RollingRandomAccessFile name="INFO_LOG"
      fileName="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log"
      filePattern="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.%i">
      <PatternLayout
        pattern="${LOG_PATTERN}"/>
      <Filters>
        <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="1024MB"/>
      </Policies>
      <DefaultRolloverStrategy max="30"/>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <!--AsyncRoot-->
    <AsyncRoot level="info" includeLocation="true">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="INFO_LOG"/>
    </AsyncRoot>
  </Loggers>
</Configuration>